@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Josefin Sans", sans-serif;
}


.custom-multiselect .option:hover {
  background-color: #efc55f; /* Replace this with your desired hover background color */
}

